<a href="https://colab.research.google.com/github/AriannaGrossi/MLPNS_AGrossi/blob/main/MLPNS23_bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
2*2

4

In [ ]:
2*2

4

#First markdown cell
This is a cell in markdown syntax

#Here we start coding

#native variables and variable types

##integer

In [ ]:
intVar =3

In [ ]:
type(intVar)

int

##float

In [ ]:
floatVar= 3.0

In [ ]:
type(floatVar)

float

In [ ]:
float2Var= float(intVar)

In [ ]:
type(float2Var)

float

In [ ]:
intVar*floatVar

9.0

In [ ]:
intVar/2

1.5

In [ ]:
intVar + floatVar

6.0

In [ ]:
intVar+floatVar-intVar/2

4.5

In [ ]:
type(intVar+floatVar-intVar/2)

float

In [ ]:
(intVar+floatVar-intVar)/2

1.5

##strings

In [ ]:
print("Hello world")

Hello world

In [ ]:
print('Hello world')

Hello world

In [ ]:
print("'Hello world'")

'Hello world'

In [ ]:
print("Hello 
world")

SyntaxError: ignored

In [ ]:
print('''Hello 
world''')

Hello
world

In [ ]:
strVar= 'Hello world'

In [ ]:
print(strVar)

Hello world

#boolean variables

In [ ]:
True

True

In [ ]:
False

False

In [ ]:
if True:

IndentationError: ignored

In [ ]:
if True:
  print("this is true")
  print(intVar+floatVar)

this is true
6.0

In [ ]:
intVar==floatVar

True

In [ ]:
if false:
  print("this is true")
  print(intVar+floatVar)
else :
  print("condition is false")

condition is false

In [ ]:
if intVar==floatVar:
  print("this is true")
  print(intVar+floatVar)
else:
  print("condition is false")

this is true
6.0

In [ ]:
# == is equal ?
print(intVar == floatVar)
# > greater
print(intVar > floatVar)
# < lesser
print(intVar < floatVar)
# != not equal
print(intVar != floatVar)

True
False
False
False

In [ ]:
# | is logical OR
(intVar > floatVar) | (intVar == floatVar)
# & is logical AND
(intVar > floatVar) & (intVar==floatVar)

False

In [ ]:
True ==1

True

In [ ]:
# * is logical AND
if(intVar > floatVar)*(intVar==floatVar):
  print("True")
else:
  print("False")

False

In [ ]:
# + is logical OR
if(intVar > floatVar)+(intVar==floatVar):
  print("True")
else:
  print("False")

True

In [ ]:
if 2:
  print("something")

something

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(1, 10, 2):
  print(i)

1
3
5
7
9

#variables as objects

In [ ]:
strVar= "hello world"

In [ ]:
strVar.capitalize()

'Hello world'

In [ ]:
strVar.upper()

'HELLO WORLD'

In [ ]:
strVar.isdigit()

False

In [ ]:
"3".isdigit()

True

In [ ]:
floatVar.is_integer()

True

#list

In [ ]:
listVar = [intVar, floatVar, strVar, 0, True]

In [ ]:
listVar.append(11)
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [ ]:
listVar[0]

3

In [ ]:
strVar[0]

'h'

In [ ]:
'h' in strVar

True

In [ ]:
64 in listVar

False

In [ ]:
listVar

[3, 3.0, 'hello world', 0, True, 11]

In [ ]:
listVar[1] = 9
listVar

[3, 9, 'hello world', 0, True, 11]

In [ ]:
strVar[0] ='H'

TypeError: ignored

In [73]:
correct ="frutta"
output = []
guess = "grappa"
if len(correct)!= len(guess):
  print("wrong word lenght")
else:
 for i in range(len(guess)):
   if correct[i] == guess[i]:
     output.append(correct[i])
   elif guess[i] in correct:
     output.append("*")
   else:
     output.append("_")
"".join(output)
output

['_', 'r', '*', '_', '_', 'a']

In [71]:
correct ="acres"
output = ""
guess = "test"
for i in range(len(guess)):
  if correct[i] == guess[i]:
      output= output + correct[i]
  elif guess[i] in correct:
    output= output +"*"
  else:
    output=output + "_"
  
output

'_**_'

#functions

In [75]:
def wordle(guess, correct):
  """
  A funcion that checks a word guess against a target
  Input:
    guess: a string
  Result: 
    a string
  """

In [86]:
def wordle(guess, correct):
  """
  A funcion that checks a word guess against a target
  Input:
    guess: a string
  Result: 
    a string
  """
  test=["_"]*5
  correct=correct.lower()
  guess=guess.lower()
  if len(correct)!= len(guess):
    print("wrong word lenght")
    return
  else:
    if correct ==guess:
      print("DONE")
      return
    else:
      print("try again")
      for i in range(len(test)):
        if guess[i]==correct[i]:
          test[i]=guess[i]
        elif guess[i] in correct:
          test[i]="*"
    print("".join(test))

In [87]:
wordle("Acres","Acres")

DONE

In [76]:
wordle?

#importing packages

typical packages that we will see
##pandas
manipulation of tabular data
##numpy
manipulation of numerical data
##scipy
statistica (also statsmodels)
##matplotlib(pylab)
##sklearn(scikitlearn)
tensorflow
##neural networks

In [81]:
import pandas as pd
from pandas import read_csv

In [90]:
url="https://raw.githubusercontent.com/fedhere/PyBOOT/master/311_Service_Requests_from_2010_to_Present.csv"

In [91]:
df=pd.read_csv(url)

In [92]:
df.shape

(924, 41)

In [93]:
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [94]:
df

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,54049402,05/01/2022 12:00:03 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10452.0,1006 GERARD AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.830653,-73.923082,"(40.83065331987539, -73.92308231033165)"
1,54046813,05/01/2022 12:00:09 AM,05/01/2022 12:07:46 AM,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,10027.0,364 WEST 127 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.812378,-73.952401,"(40.81237834836466, -73.95240115039357)"
2,54045643,05/01/2022 12:00:17 AM,05/01/2022 12:10:38 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10033.0,593 FT WASHINGTON AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.854714,-73.937026,"(40.854713655427595, -73.93702585036192)"
3,54051838,05/01/2022 12:00:21 AM,05/01/2022 12:53:23 AM,NYPD,New York City Police Department,Blocked Driveway,Partial Access,Street/Sidewalk,11214.0,8106 17 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.611332,-74.002028,"(40.611331690801165, -74.00202773560115)"
4,54052808,05/01/2022 12:00:25 AM,05/01/2022 01:01:47 AM,NYPD,New York City Police Department,Illegal Parking,Commercial Overnight Parking,Street/Sidewalk,10304.0,935 TARGEE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.605614,-74.090992,"(40.605613964168455, -74.09099181031843)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
919,54049386,05/01/2022 02:04:45 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10031.0,514 WEST 136 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820160,-73.953158,"(40.82015993990901, -73.95315791994004)"
920,54049413,05/01/2022 02:05:35 AM,NaN,NYPD,New York City Police Department,Noise - Street/Sidewalk,Loud Music/Party,Street/Sidewalk,11231.0,151 RICHARDS STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.676566,-74.011100,"(40.6765664690211, -74.01110036402942)"
921,54052476,05/01/2022 02:05:38 AM,NaN,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,11208.0,37 HEMLOCK STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.688911,-73.872353,"(40.68891081481749, -73.87235278581583)"
922,54053504,05/01/2022 02:06:13 AM,NaN,NYPD,New York City Police Department,Illegal Parking,Overnight Commercial Storage,Street/Sidewalk,11373.0,60-42 BOOTH STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.731194,-73.869533,"(40.73119351356087, -73.86953320857873)"
923,54048300,05/01/2022 02:06:26 AM,NaN,NYPD,New York City Police Department,Noise - Vehicle,Car/Truck Music,Street/Sidewalk,11210.0,723 EAST 27 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.633076,-73.950965,"(40.633076468003175, -73.95096540810518)"

In [95]:
df.iloc[0]

Unique Key                                                       54049402
Created Date                                       05/01/2022 12:00:03 AM
Closed Date                                                           NaN
Agency                                                               NYPD
Agency Name                               New York City Police Department
Complaint Type                                        Noise - Residential
Descriptor                                               Loud Music/Party
Location Type                                  Residential Building/House
Incident Zip                                                      10452.0
Incident Address                                       1006 GERARD AVENUE
Street Name                                                 GERARD AVENUE
Cross Street 1                                           EAST  164 STREET
Cross Street 2                                           EAST  165 STREET
Intersection Street 1                                    EAST  164 STREET
Intersection Street 2                                    EAST  165 STREET
Address Type                                                      ADDRESS
City                                                                BRONX
Landmark                                                    GERARD AVENUE
Facility Type                                                         NaN
Status                                                        In Progress
Due Date                                                              NaN
Resolution Description                                                NaN
Resolution Action Updated Date                                        NaN
Community Board                                                  04 BRONX
BBL                                                          2024770001.0
Borough                                                             BRONX
X Coordinate (State Plane)                                      1005536.0
Y Coordinate (State Plane)                                       241916.0
Open Data Channel Type                                             ONLINE
Park Facility Name                                            Unspecified
Park Borough                                                        BRONX
Vehicle Type                                                          NaN
Taxi Company Borough                                                  NaN
Taxi Pick Up Location                                                 NaN
Bridge Highway Name                                                   NaN
Bridge Highway Direction                                              NaN
Road Ramp                                                             NaN
Bridge Highway Segment                                                NaN
Latitude                                                        40.830653
Longitude                                                      -73.923082
Location                          (40.83065331987539, -73.92308231033165)
Name: 0, dtype: object

In [96]:
df.iloc[:, 1]

0      05/01/2022 12:00:03 AM
1      05/01/2022 12:00:09 AM
2      05/01/2022 12:00:17 AM
3      05/01/2022 12:00:21 AM
4      05/01/2022 12:00:25 AM
                ...
919    05/01/2022 02:04:45 AM
920    05/01/2022 02:05:35 AM
921    05/01/2022 02:05:38 AM
922    05/01/2022 02:06:13 AM
923    05/01/2022 02:06:26 AM
Name: Created Date, Length: 924, dtype: object

In [97]:
url="https://raw.githubusercontent.com/fedhere/UInotebooks/master/dataWrangling/movies.dat"

In [99]:
pd.read_csv?

In [100]:
pd.read_csv(url, sep="::")

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

         1                    Toy Story (1995)   Animation|Children's|Comedy
0        2                      Jumanji (1995)  Adventure|Children's|Fantasy
1        3             Grumpier Old Men (1995)                Comedy|Romance
2        4            Waiting to Exhale (1995)                  Comedy|Drama
3        5  Father of the Bride Part II (1995)                        Comedy
4        6                         Heat (1995)         Action|Crime|Thriller
...    ...                                 ...                           ...
3877  3948             Meet the Parents (2000)                        Comedy
3878  3949          Requiem for a Dream (2000)                         Drama
3879  3950                    Tigerland (2000)                         Drama
3880  3951             Two Family House (2000)                         Drama
3881  3952               Contender, The (2000)                Drama|Thriller

[3882 rows x 3 columns]

In [101]:
pd.read_csv(url, sep="::", index_col=0)

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                        Toy Story (1995)   Animation|Children's|Comedy
1
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
6                            Heat (1995)         Action|Crime|Thriller
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3882 rows x 2 columns]

In [102]:
colnames =["title", "genre"]
pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames)

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

                                   title                         genre
1                       Toy Story (1995)   Animation|Children's|Comedy
2                         Jumanji (1995)  Adventure|Children's|Fantasy
3                Grumpier Old Men (1995)                Comedy|Romance
4               Waiting to Exhale (1995)                  Comedy|Drama
5     Father of the Bride Part II (1995)                        Comedy
...                                  ...                           ...
3948             Meet the Parents (2000)                        Comedy
3949          Requiem for a Dream (2000)                         Drama
3950                    Tigerland (2000)                         Drama
3951             Two Family House (2000)                         Drama
3952               Contender, The (2000)                Drama|Thriller

[3883 rows x 2 columns]

In [104]:
df.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location'],
      dtype='object')

In [103]:
df.shape

(924, 41)

In [109]:
movies=pd.read_csv(url, sep="::", index_col=0, header=None, names=colnames)

/usr/local/lib/python3.9/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [110]:
movies.shape

(3883, 2)

In [111]:
movies.columns

Index(['title', 'genre'], dtype='object')

In [112]:
movies["genre"]

1        Animation|Children's|Comedy
2       Adventure|Children's|Fantasy
3                     Comedy|Romance
4                       Comedy|Drama
5                             Comedy
                    ...
3948                          Comedy
3949                           Drama
3950                           Drama
3951                           Drama
3952                  Drama|Thriller
Name: genre, Length: 3883, dtype: object

In [113]:
movies["title"]

1                         Toy Story (1995)
2                           Jumanji (1995)
3                  Grumpier Old Men (1995)
4                 Waiting to Exhale (1995)
5       Father of the Bride Part II (1995)
                       ...
3948               Meet the Parents (2000)
3949            Requiem for a Dream (2000)
3950                      Tigerland (2000)
3951               Two Family House (2000)
3952                 Contender, The (2000)
Name: title, Length: 3883, dtype: object

In [117]:
"Toy Story (1995)".split()[-1].strip("()")
"Toy Story (1995)".split()[-1].replace("(", "").strip("(")

'1995)'

In [121]:
def get_year(mtitle):
  """
  """
  return int(mtitle.split("(")[-1].strip(")"))
movies["year"]=movies["title"].map(get_year)

In [122]:
movies.groupby("year").count()

      title  genre
year
1919      3      3
1920      2      2
1921      1      1
1922      2      2
1923      3      3
...     ...    ...
1996    345    345
1997    315    315
1998    337    337
1999    283    283
2000    156    156

[81 rows x 2 columns]